
#options{
	font-size:10pt; font-family:Arial,Verdana,Tahoma;padding:0px; margin:0px;	
}

#options-container{
    height:100%;
    width:100%;
}

#options-header{
    background:#333; 
    color:#ddd;
    text-align: center;
    font-size: 30pt;
    padding: 10px;
    font-weight: bold;
}

#options-footer{
    background: #DDD;
    padding: 10px;
    text-align: left;
    font-size: 9pt;
}

#developer-info p{
    margin:2px;
    padding: 0px;
}

.extension-translation {
	width:100%; padding:0px 10px; position:absolute;
}

#languages {
	background:white; border: solid 1px #CCC; position:absolute
}

#services {
	background:white; border: solid 1px #CCC; position:absolute
}

#services div, #languages div {
	padding: 2px 20px 2px 20px;
}
#services div:hover, #languages div:hover{
	background: #DDF;
}

#no-presets{
    width:480px;
    font-size:10pt;
    display: none;
	border-radius: 5px;
    padding:5px;
	border: 1px solid lightcoral;
    background: #FFDDE4;
}

#presets {
	font-size:10pt;	
	display: none;
}

#options a, #options a:visited {
	color: #56B0FF;
	text-decoration: none;
}

#options a:hover {
	text-decoration: underline;
}

#presets tr:hover {
	background: #DDF;
}

#presets th {
	padding: 10px 20px;
	text-align: center;	
	background: #56B0FF;
	color: white;
	font-weight: normal;
}

#presets td {
	text-align: center;
	padding: 5px;	
}

#create-preset {
	padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: #57d6c7;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
}

#create-preset:focus {
	outline: none;
}

#create-preset:active {
	outline: none;
	background: #10D19A;
}
